<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe <%=@recipe.id%></title>
  </head>
  <body>
    <h1>Name: <%=@recipe.name%></h1>
    <h2>Ingredients: <%=@recipe.ingredients%></h2>
    <h2>Cook Time: <%=@recipe.cook_time%> minutes</h2>
  </body>
  <form action="/recipes/<%=@recipe.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
</html>
